<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mystyle.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body background="contact.jpg" ></body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li >
                        <a href="/">Home</a>
                    </li>
                    <li >
                        <a href="yourchoice">Yourchoice</a>
                    </li>
                    <li class="active">
                        <a href="contact">Contact</a>
                    </li>
                    <li >
                        <a href="Guestbook">GuestBook</a>
                    </li>
                    
                    
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    
    <div class="container">
        <h3> This is contact form</h3>
        <h2>Contact Me</h2>
            <b>Name:</b> <br><input id="name" type="text"></br><br>
            <b>Email:</b> <br><input id="email" type="text"></br><br>
           <b>Message:</b> <br>
            <textarea rows="4" cols="30"></textarea>  <br><br>
            <button id="submit">Submit</button>
                    
    </div>
    <div >
        <a href="https://github.com/MidhunReddy"><img class=" img-circle" src="git.jpg" width="50" height="50"/></a>
       <a href="https://www.linkedin.com/in/midhun-kumar-kurapati-b0b527158/"> <img class=" img-circle" src="linkedin.png" width="1" height="100"/></a>
       <a href="https://bitbucket.org/midhunReddy/"> <img class=" img-circle" src="bitbucket.jpg" width="100" height="100"/></a>
                            </div>

        
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>