<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mystyle.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body background="background.jpg">
    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="yourchoice">Yourchoice</a>
                        </li>
                        <li>
                            <a href="contact">Contact</a>
                        </li>
                        <li>
                            <a href="GuestBook">GuestBook</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="span4" >
            <img class="center-block img-circle" src="midhun.jpg" width="300" height="350"/>
        </div>
       
        
    </div>
    <div class="row" id="about">
        <div><tittle><h3>
                03- MIDHUN KUMAR KURAPATI</h3>
                </tittle></div>
        <div class="col-md-6">
            <h3>CURRENT</h3>
            <p>*I am newly enrolled person of the spring 2018 batch at NWMSU. </p>
            <p>*To Undertake the masters at Applied Computer Science.</p>
            <h3> BACKGROUND </h3>
            <P>*I Came from southern part of INDIA and my home town is Nellore.</p>
            <p>*I had received my Bachelors of Engineering from ANNA UNIVERSITY.</p>
            <p>*My major in B.E. is Electronics and Communication Engineering.</P>
            <p>*I had no work experience and i passed out recent year 2017 only.</p>
        </div>
        
        <div class="col-md-6">
            <h3> PLANS </h3>
            <p>*I am looking forward to enhance the technical and practical skills in masters </p>
            <p>*I would like to work as a Data base Developer </P>
            <h3> HOBBIES </h3>
            <p>*Playing cricket and football </p>
            <p>*Also I like to watch the web series </p>
            
        </div>

       
        
    </div>
    
    <div>
            <div class="row"></div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/wxQR5kokq68" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                  <div class="col-md-4"></div>
    </div>

    

</body>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>


</html>