<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mystyle.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body background="yourchoice.jpg"></body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <a href="yourchoice">Yourchoice</a>
                </li>
                <li>
                    <a href="contact">Contact</a>
                </li>
                <li>
                    <a href="GuestBook">GuestBook</a>
                </li>
              

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <h2>Form control: input</h2>
    <h2>Calculator:</h2>

    <br>
    <br>
    <span style="margin-right:1px">Number 1 </span>&nbsp
    <input id="num1" type="number">
    </br>
    <br>
    <span style="margin-right:5px">Number 2</span>&nbsp
    <input id="num2" type="number">
    </br>
    <br>
    <span style="margin-right:29px">Result</span>&nbsp
    <input id="result" type="text"> </br>
    <br>

    <button id="add" onclick="action('add')">Addition</button>&nbsp&nbsp
    <button id="subtract" onclick="action('subtract')">Subtraction</button>&nbsp&nbsp
    <button id="multiply" onclick="action('multiply')">Multiplication</button>&nbsp&nbsp
    <button id="divide" onclick="action('divide')">Division</button>&nbsp&nbsp
    <button id="clear" onclick="action('clear')">clear</button>
</div>
<li>
    <a href="test.html"><strong>test.html</strong></a>
</li>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="calculator.js"></script>
<script src="qunittest.js"></script>
</body>

</html>